<footer id="contact" class="w-full border-t border-white/10 px-6 py-16 text-sm">
  <div
    class="mx-auto flex max-w-5xl flex-col justify-between gap-8 md:flex-row"
  >
    <div>
      <p class="mb-1 text-white/50 uppercase">contact</p>

      <a href="mailto:info@raveyoursoul.com">info@raveyoursoul.com</a>

      <p class="mt-4 mb-1 text-white/50 uppercase">demos</p>

      <a href="mailto:demo@raveyoursoul.com">demo@raveyoursoul.com</a>
    </div>

    <div class="text-gray-500 md:text-right">
      © {new Date().getFullYear()} Rave Your Soul
    </div>
  </div>
</footer>
